### **ğŸ“Œ Objective â€“ Level 2, Task 3: Feature Engineering**  

In this task, we aim to **enhance the dataset by creating new features** that improve data analysis and model performance.  

### **ğŸ¯ Key Goals:**  
1ï¸âƒ£ **Extract additional features** from existing columns (e.g., **length of restaurant name and address**).  
2ï¸âƒ£ **Create new features** by encoding categorical variables (e.g., **"Has Table Booking" and "Has Online Delivery"** as numerical values).  

This analysis will help us:  
âœ” Improve **data quality and depth** by adding meaningful features.  
âœ” Prepare the dataset for **better insights and machine learning modelsyou're ready! ğŸ˜Š

In [20]:
import pandas as pd
df = pd.read_csv('leve1_dataset.csv')

### Step 1: Extract Additional Features from Existing Columns
In this step, we will create new features from existing data to enhance our dataset.

ğŸ”¹ Features to Extract:

âœ” Restaurant Name Length â†’ The number of characters in the restaurant name.

âœ” Address Length â†’ The number of characters in the address.

In [23]:
# Create new features
df['Restaurant Name Length'] = df['Restaurant Name'].apply(len)
df['Address Length'] = df['Address'].apply(len)

# Display first few rows to verify
df[['Restaurant Name', 'Restaurant Name Length', 'Address', 'Address Length']].head()

,Restaurant Name,Restaurant Name Length,Address,Address Length
0,Le Petit Souffle,16,"Third Floor, Century City Mall, Kalayaan Avenu...",71
1,Izakaya Kikufuji,16,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...",67
2,Heat - Edsa Shangri-La,22,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...",56
3,Ooma,4,"Third Floor, Mega Fashion Hall, SM Megamall, O...",70
4,Sambo Kojin,11,"Third Floor, Mega Atrium, SM Megamall, Ortigas...",64

### Step 2: Encode Categorical Features
Now, letâ€™s convert categorical variables into numerical values so they can be used in data analysis and machine learning.

âœ” "Has Table Booking" â†’ Convert "Yes" to 1 and "No" to 0.

âœ” "Has Online Delivery" â†’ Convert "Yes" to 1 and "No" to 0.

In [26]:
# Convert categorical variables into numerical values
df['Has Table booking'] = df['Has Table booking'].replace({'Yes': 1, 'No': 0})
df['Has Online delivery'] = df['Has Online delivery'].replace({'Yes': 1, 'No': 0})

# Verify the changes
print(df[['Has Table booking', 'Has Online delivery']].head())

   Has Table booking  Has Online delivery
0                  1                    0
1                  1                    0
2                  1                    0
3                  0                    0
4                  1                    0

In [32]:
# Save to CSV
df.to_csv('level_2_dataset.csv', index=False)

# ğŸ“Š Level 2 â€“ Task 3: Feature Engineering  

## ğŸ“Œ Objective  
- Extract additional features from existing columns (e.g., **length of restaurant name and address**).  
- Create new features by encoding categorical variables (e.g., **"Has Table Booking" and "Has Online Delivery"** as numerical values).  

---

## **1ï¸âƒ£ Step 1: Extract Additional Features from Existing Columns**  
ğŸ”¹ **New Features Created:**  
âœ” **Restaurant Name Length** â†’ Number of characters in the restaurant name.  
âœ” **Address Length** â†’ Number of characters in the address.  

ğŸ”¹ **Key Insights:**  
âœ” These features help analyze the **complexity of restaurant names and addresses**.  
âœ” Longer restaurant names may indicate **premium or themed dining experiences**.  

---

## **2ï¸âƒ£ Step 2: Encode Categorical Features**  
ğŸ”¹ **Converted categorical variables into numerical values:**  
âœ” **"Has Table Booking"** â†’ `"Yes"` â†’ `1`, `"No"` â†’ `0`  
âœ” **"Has Online Delivery"** â†’ `"Yes"` â†’ `1`, `"No"` â†’ `0`  

ğŸ”¹ **Key Insights:**  
âœ” This transformation makes the dataset **ready for statistical analysis and machine learning models**.  
âœ” Encoded features allow us to explore **how table booking and online delivery impact ratings and sales**.  

---

## ğŸ¯ **Final Summary**  
âœ” Successfully **extracted new features** from restaurant names and addresses.  
âœ” **Encoded categorical variables**, making the dataset more stru youâ€™re ready to start Task 4!** ğŸ˜Š  
 youâ€™re ready to start Task 4!** ğŸ˜Š

### **ğŸ“Š Level 2 â€“ Task 3: Feature Engineering**  

---

### **ğŸ“Œ Objective**  
- Extract additional features from existing columns (e.g., **length of restaurant name and address**).  
- Create new features by encoding categorical variables (e.g., **"Has Table Booking" and "Has Online Delivery"** as numerical values).  

---

### **1ï¸âƒ£ Step 1: Extract Additional Features from Existing Columns**  
ğŸ”¹ **New Features Created:**  
âœ” **Restaurant Name Length** â†’ Number of characters in the restaurant name.  
âœ” **Address Length** â†’ Number of characters in the address.  

ğŸ”¹ **Key Insights:**  
âœ” These features help analyze the **complexity of restaurant names and addresses**.  
âœ” Longer restaurant names may indicate **premium or themed dining experiences**.  

---

### **2ï¸âƒ£ Step 2: Encode Categorical Features**  
ğŸ”¹ **Converted categorical variables into numerical values:**  
âœ” **"Has Table Booking"** â†’ `"Yes"` â†’ `1`, `"No"` â†’ `0`  
âœ” **"Has Online Delivery"** â†’ `"Yes"` â†’ `1`, `"No"` â†’ `0`  

ğŸ”¹ **Key Insights:**  
âœ” This transformation makes the dataset **ready for statistical analysis and machine learning models**.  
âœ” Encoded features allow us to explore **how table booking and online delivery impact ratings and sales**.  

---

### **ğŸ¯ Final Summary**  
âœ” Successfully **extracted new features** from restaurant names and addresses.  
âœ” **Encoded categorical variables**, making the dataset more structured and analysis-friendly.  
âœ” **Task 3 Completed!** ğŸš€ Ready to move to **Level 2 â€“ Tow if youâ€™re ready to start Task 4!** ğŸ˜Š